<div>
  <ul>
    <% @events.each do |event| %>
      <li>
        <h2><%= event.name %></h2>
        <p><%= event.location %></p>
        <p><%= price(event) %></p>
        <p><%= truncate(event.description, length: 35, separator: " ") %></p>
        <p><%= day_and_time(event) %></p>
      </li>
    <% end%>
  </ul>
</div>