<div>
  <ul>
    <% @events.each do |event| %>
      <li>
        <h2><%= event.name %></h2>
        <p><%= event.location %></p>
        <p><%= number_to_currency(event.price, precision: 0) %></p>
        <p><%= event.description %></p>
        <p><%= event.starts_at %></p>
      </li>
    <% end%>
  </ul>
</div>