<section class="p-10 mb-10 shadow-xl rounded-xl max-w-[50rem]">
  <div>
    <h1 class="text-2xl"><%= @event.name %></h1>
    <h2 class="mb-2 text-xl font-bold text-zinc-500"><%= price(@event) %></h2>
    <h3 class="mb-4 text-lg text-zinc-600"><%= day_and_time(@event) %> in <%= @event.location %></h3>
    <p><%= @event.description %></p>
  </div>
</section>
