<header class="p-4 mb-10 bg-blue-500 shadow-md">
  <nav class="container flex items-center justify-between mx-auto">
    <%= link_to root_path, class: "flex items-center" do %>
      <%= image_tag "logo.png", class: "h-8 w-auto", alt: "Logo" %>
    <% end %>
    <ul class="flex items-center gap-8 text-gray-200 text-md">
      <li class="transition-all duration-200 hover:border-b-2 hover:border-white">
        <%= link_to 'All Events', events_path, class: "py-2" %>
      </li>
    </ul>
     <ul class="flex items-center gap-4">
      <% if current_user %>
        <li class="text-white">
          <%= link_to current_user.name, current_user %>
        </li>
      <% else %>
        <li>
        <%= link_to 'Sign In', new_session_path, class: "px-4 py-2 bg-white text-blue-500 rounded-lg hover:bg-gray-100 transition-colors duration-200" %>
        </li>
        <li>
          <%= link_to 'Sign Up', signup_path, class: "px-4 py-2 bg-white text-blue-500 rounded-lg hover:bg-gray-100 transition-colors duration-200" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>
